.total-counter{
    font-size: 5rem;

}

.finCompraContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-body{
    width: 100%;
}

.conceptoItem{
    width: 50%;
}
