.finFormContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-style: solid;
    padding: 20px;
}

.reqFormContainer{
    width: 100%;
    text-align: center;
    margin: 2%;
}

.labelForm{
    text-align: center;
    font-size: 1.4rem;
}

.btnFin{
    margin-top: 10%;
    height: 4rem;
}

.finTitle{
    text-align: center;
}

.finContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height:90vh;
}

.btnVolver{
    height: 8vh;
    margin-top: auto;
}

.imgFin{
    margin-top: auto;
}