.juegoDetailContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-image: url(https://i.pinimg.com/originals/99/cd/09/99cd0925c516b5d0a740dffd03c3e0df.gif);
}

